html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#btn-formulario{
  background-color: rgb(81, 125, 196);
  color: white;
}

.btn-goback{
  background-color:rgb(81, 125, 196) ;
  color: white;
}

.box-principal{
  padding: 10px;
  margin: 25px;
  width: 400px;
  border: 2px solid black;
}

.box-form{
  margin: 10px;
  font-weight: bold;
}